:root {
  --blanc:#FAFAFF;
  --bleu:#1F2EEC;
  --orange: #F96244;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.btnOrange {
  cursor: pointer;
  background: #F96244;
  color: #FAFAFF;
  border: 3px solid transparent;
  border-radius: 50px;
  box-shadow: 0 5px 15px black;
}
.btnOrange:hover {
  background: #FAFAFF;
  border: 3px solid #F96244;
  color: #F96244;
}

.btnBlancOrange {
  cursor: pointer;
  background: #FAFAFF;
  color: #F96244;
  border: 3px solid #F96244;
  border-radius: 50px;
}
.btnBlancOrange:hover {
  background: #FAFAFF;
  border: 3px solid #F96244;
  color: #F96244;
}

.btnBlancBleu {
  background: #FAFAFF;
  border: 3px solid #1F2EEC;
  color: #1F2EEC;
  border-radius: 50px;
}
.btnBlancBleu:hover {
  background: #1F2EEC;
  border: 3px solid transparent;
  color: #FAFAFF;
}

body {
  background-color: #FAFAFF;
  font-family: "Lexend", sans-serif;
}

nav {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logoMusquashNavbar {
  width: 20%;
  min-width: 130px;
}
nav .NavBtnContainer {
  width: 30%;
  margin-right: 3em;
  display: flex;
  justify-content: space-evenly;
}
nav .NavBtnContainer form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
nav .NavBtnContainer label {
  display: flex;
  border-radius: 2em;
  background-color: transparent;
  max-height: 40px;
  cursor: pointer;
}
nav .NavBtnContainer label input {
  width: 100%;
  background-color: transparent;
  border: transparent;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-right: 1em;
}
nav .NavBtnContainer .btnConnexion {
  background: #1F2EEC;
  border: solid transparent;
}
nav .NavBtnContainer .btnConnexion input {
  cursor: pointer;
  color: #FAFAFF;
}
nav .NavBtnContainer svg {
  stroke: #FAFAFF;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
nav .NavBtnContainer .btnConnexion:hover {
  background: transparent;
  border: solid #1F2EEC;
}
nav .NavBtnContainer .btnConnexion:hover input {
  color: #1F2EEC;
}
nav .NavBtnContainer .btnConnexion:hover svg {
  stroke: #1F2EEC;
}
nav .NavBtnContainer .btnInscription {
  border: 3px solid #F96244;
}
nav .NavBtnContainer .btnInscription input {
  cursor: pointer;
  color: #F96244;
}

.heroContainer {
  height: 55vh;
  display: grid;
  grid-template-columns: 85% 15%;
  background-image: url(/ressources/images/hero-salle.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 1.4em;
}
.heroContainer .Presentation {
  width: 80%;
  padding: 3em 1em;
}
.heroContainer .Presentation h1 {
  color: #F96244;
  font-size: 3vw;
}
.heroContainer .Presentation p {
  color: #FAFAFF;
  font-size: 2vw;
}
.heroContainer .OffrePromos {
  background: #f9624483;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #FAFAFF;
}
.heroContainer .OffrePromos .offre1 {
  background-color: red;
  padding: 1em;
}
.heroContainer .OffrePromos .offre2 {
  padding: 1em;
  background-color: #b3ff00;
}

.Navigation {
  width: 100%;
  position: relative;
}
.Navigation .navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 25vh;
  padding: 0 0em;
}
.Navigation .navContainer > a {
  border-radius: 50px;
  color: #FAFAFF;
}
.Navigation .navContainer .nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}
.Navigation .navContainer .illuHero {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.Navigation .navContainer a:hover {
  transform: scale(1.1);
}
.Navigation .navContainer .nav.Bleu {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.Navigation .navContainer .Bleu.Gauche {
  background: linear-gradient(117.36deg, rgba(31, 46, 236, 0.8) 0%, rgba(31, 46, 236, 0.464) 100%);
}
.Navigation .navContainer .Bleu.Droite {
  background: linear-gradient(242.64deg, rgba(31, 46, 236, 0.8) 0%, rgba(31, 46, 236, 0.464) 100%);
}
.Navigation .navContainer .nav.Orange {
  background: linear-gradient(143.76deg, rgba(249, 98, 68, 0.8) 47.15%, rgba(249, 98, 68, 0.612806) 83.1%, rgba(249, 98, 68, 0.4) 113.68%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 36%;
}
.Navigation .bandeau-promo {
  border: solid 5px #ffff00;
}

.containerFormules {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px red;
  height: calc(100% + 30px);
}
.titreFormule {
  margin: 3em;
  display: flex;
  height: 5vh;
}
.titreFormule .img-titre {
  width: 50px;
  margin-right: 2em;
}

.Formule {
  border: solid 10px #36e900;
  background-color: #1F2EEC;
  border-radius: 50px;
  width: 95%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  padding: 1em;
  color: var(--blanc);
  margin-bottom: 3em;
}
.Formule .Titre {
  display: flex;
  gap: 30px;
}
.Formule .Infos {
  padding: 1em;
}
.Formule .Images {
  display: flex;
  grid-row-end: span 2;
}
.Formule .Images img {
  border-radius: 28px;
}
.Formule .PlusDinfos {
  position: relative;
  z-index: 2;
  top: -10%;
  right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Formule .NosAdhesions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .heroContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .heroContainer .Presentation h1 {
    font-size: 100%;
  }
  .heroContainer .Presentation p {
    font-size: 3vw;
  }
  .heroContainer .OffrePromos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .heroContainer .Presentation h1 {
    font-size: 6vw;
  }
}/*# sourceMappingURL=style.css.map */